.header-logo__wrap
  %h6
    = link_to '/', class: '' do
      %span Life Sports Site

  .progress
    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar", :style => "width: 100%;"} 100%

.single-container
  %main.single-main
    %section.l-single-container
      %h3.l-single-head.registration 会員情報入力
      = form_with  model: @user, url:signup_index_path, class: 'input-default', local: true do |f|
        .l-single-content
          .form-group
          %p.comment ありがとうございます。
          %p.comment 会員登録が完了しました。
          = link_to 'サイトを始める', root_path, class:'btn-default btn-red'
