= render partial:"groups/header"
= render partial:"side_bar", group: @user

-# .profile_content
-#   .profile_image
-#     %h4 profile
-#     .profile_image_nickname 
-#     = image_tag 'back_image.jpg',class:'profile_img'
-#     = image_tag 'nickname2.jpg',class:'profile_img_nickname',height:'200',width:'200px'   
-#     = link_to current_user.nickname, '#', class:'profile_img_nickname'

-#     .profile_detail
-#       .profile_message
-#         = text_area :profile, :message, class: 'message_area'

      = render partial:"groups/footer"